article,aside,details,figcaption,figure,footer,header,menu,hgroup,nav,section,a{display:block}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,label,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,span{margin:0;padding:0}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
fieldset,img{border:0}
img{display:block}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6,p,input,button,select{font-weight:normal}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}
html{height: 100%;}
body{font:Arial "Microsoft YaHei";background-color:#fff;height: 100%;}
ol,ul{list-style:none;}
a{text-decoration:none;color:#004b91}
input:focus{border:0;outline:medium}
.clearfix:after {clear:both;font-size:0;height:0;display:block;visibility:hidden;content:'';line-height:0}
.hide{display:none}
.full-height{height: 100%;}

@-webkit-keyframes loadingGif{
    from{ -webkit-transform: rotate(0deg);}
    to{ -webkit-transform: rotate(360deg);}
}

@keyframes loadingGif{
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}
.init-loading{ position: fixed; top: 50%; left: 50%; margin-top: -16px; margin-left: -16px; width: 32px; height: 32px; background: url(./../images/icons-init-loading.png) center no-repeat; background-size: 32px; -webkit-animation: loadingGif linear 1s infinite; animation: loadingGif linear 1s infinite; z-index: 100;}

/* 首页 */
.grid-menu{width: 100%;}
.grid-item{float: left;width: 33.33%;height:7.375rem;line-height:10rem;color: #dadada;font-size: .79rem; text-align:center;border-bottom: 1px solid #eee; box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.grid-item:nth-child(3n+2){border-right: 1px solid #eee;border-left: 1px solid #eee;}



